# top-most editorconfig file
root = true

# unix-style in every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = false

[*._data]
file_type = yaml
syntax = yaml

[*._mark]
file_type = markdown
syntax = markdown

[*._script]
file_type = javascript
syntax = javascript

[*._style]
file_type = css
syntax = css

[*._template]
file_type = html
syntax = html

[*._vector]
file_type = xml
syntax = xml